// how to import partials path of the file then / then name of the file
@import "partials/look";
@import "partials/mix"; // here we @import any google font we want just put the nme of it here
// and we use mixin to do this job for us and we nme it google-fonts
@include google-fonts ("Bangers");
@include google-fonts ("Titillium Web, cursive"); // LOGO SECTION STARTS

body {
  background-color: $color-back-ground-white-not100;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: DIN Next LT Arabic;
  }
}

#logo__id {
  background-color: $color-white;
  text-align: center;
  @include extra-small-phone-screen {
    img {
      margin-top: $margin-top-40;
      width: 55px;
    }

    h1 {
      margin-top: $margin-top-40;
      font-size: $text-large;
    }

    p {
      margin-top: $margin-top-40;
      font-size: $text-x-medium;
    }

    .slide__image {
      height: 23vh;
      width: 100%;
    }

    .carousel-inner {
      @include carousel-small;
    }
  }
  @include small-phone-screen {
    img {
      margin-top: $margin-top-40;
      width: 55px;
    }

    h1 {
      margin-top: $margin-top-40;
      font-size: $text-large;
    }

    p {
      margin-top: $margin-top-40;
      font-size: $text-x-medium;
    }

    .slide__image {
      height: 23vh;
      width: 100%;
    }

    .carousel-inner {
      @include carousel-small;
    }
  }
  @include larg-phone-screen {
    img {
      margin-top: $margin-top-40;
      width: 55px;
    }

    h1 {
      margin-top: $margin-top-40;
    }

    p {
      margin-top: $margin-top-40;
      font-size: $text-x-medium;
    }

    .slide__image {
      height: 23vh;
      width: 100%;
    }

    .carousel-inner {
      @include carousel-small;
    }
  }
  @include desktop-screen {
    img {
      margin-top: $margin-top-40;
      width: 75px;
    }

    h1 {
      margin-top: $margin-top-40;
      font-size: $title-medium;
    }

    p {
      margin-top: $margin-top-40;
      font-size: $text-x-medium;
    }

    .slide__image {
      height: 400px;
      width: 100%;
    }

    .carousel-inner {
      @include carousel-larg;
    }
  }
}
// LOGO SECTION ENDS
// FETURS SECTION STARTS

#payment__section {
  text-align: center;
  background-color: $color-white;
  padding-bottom: 140px;
  @include extra-small-phone-screen {
    img {
      width: 55px;
      margin-top: $margin-top-40;
    }

    h5 {
      font-size: $text-x-medium;
      color: $color-primary-l;
    }
  }
  @include small-phone-screen {
    img {
      width: 65px;
      margin-top: $margin-top-40;
    }

    h5 {
      font-size: $text-x-medium;
      color: $color-primary-l;
    }
  }
  @include larg-phone-screen {
    img {
      width: 65px;
      margin-top: $margin-top-40;
    }

    h5 {
      font-size: $text-x-medium;
      color: $color-primary-l;
    }
  }
  @include desktop-screen {
    img {
      width: 65px;
      margin-top: $margin-top-40;
    }

    h5 {
      margin-top: 10px;
      color: $color-primary-l;
    }
  }
}
// FETURS SECTION ENDS
// PRICING SECTION STARTS

#price__section {
  text-align: center;
  background-color: $color-back-ground-white-not100;
  @include extra-small-phone-screen {
    img {
      width: 45px;
    }
    // PRICE BOX STARTS HERE
    .price__div {
      margin-top: 120px;
      padding-bottom: 25px;
    }

    span {
      font-weight: bold;
    }

    mark {
      color: $color-secondary;
    }

    .span__150 {
      color: $color-primary-l;
    }

    p {
      text-decoration: line-through;
      width: 50px;
      position: absolute;
      left: 117px;
      top: -3px;
      color: $color-grey;
    }

    .card {
      position: relative;
      display: inline-block;
      bottom: 148px;
      padding: 5px;
    }
  }
  @include small-phone-screen {
    img {
      width: 45px;
    }
    // PRICE BOX STARTS HERE
    .price__div {
      margin-top: 120px;
      padding-bottom: 25px;
    }

    span {
      font-weight: bold;
    }

    mark {
      color: $color-secondary;
    }

    .span__150 {
      color: $color-primary-l;
    }

    p {
      text-decoration: line-through;
      width: 50px;
      position: absolute;
      left: 117px;
      top: -3px;
      color: $color-grey;
    }

    .card {
      position: relative;
      display: inline-block;
      bottom: 148px;
      padding: 5px;
    }
  }
  @include larg-phone-screen {
    img {
      width: 45px;
    }
    // PRICE BOX STARTS HERE
    .price__div {
      margin-top: 120px;
    padding-bottom: 25px;
    }

    span {
      font-weight: bold;
    }

    mark {
      color: $color-secondary;
    }

    .span__150 {
      color: $color-primary-l;
    }

    p {
      text-decoration: line-through;
      width: 50px;
      position: absolute;
      left: 117px;
      top: -3px;
      color: $color-grey;
    }

    .card {
      position: relative;
      display: inline-block;
      bottom: 148px;
      padding: 5px;
    }
  }
  @include desktop-screen {
    img {
      width: 40px;
      padding-bottom: 10px;
    }
    // PRICE BOX STARTS HERE
    .card {
      position: relative;
      display: inline-block;
      z-index: 1;
      bottom: 27px;
      padding: 10px;
    }

    span {
      font-weight: bold;
    }

    p {
      text-decoration: line-through;
      width: 75px;
      position: absolute;
      left: 108px;
      top: 2px;
      color: $color-grey;
    }

    mark {
      color: $color-secondary;
    }

    .span__150 {
      color: $color-primary-l;
    }
    // PRICE BOX ENDS HERE
  }
}
// PRICE SECTION ENDS HERE
// review SECTION STARTS

#review__section {
  background-color: $color-back-ground-white-not100;
width: 100%;
  text-align: center;

  @include extra-small-phone-screen {
padding: 0px 20px;
    margin-top: $margin-top-40;

    h1 {
      font-size: $title-medium;
    }

    p {
      color: grey;
      text-align: center;
    }

    h5 {
      font-size: $title-small;
      margin-top: $margin-top-40;
      margin-bottom: 20px;
    }

    .yellow__star {
      color: $color-alert;
    }

    img {
      width: 45px;
    }

    ol {
      bottom: -86px;
    }

    li {
      border-radius: 100%;
      height: 15px;
      width: 15px;
      background-color: $color-border;
    }

    .border__holder {
      margin: 30px 0;
    }
  }
  @include small-phone-screen {
padding: 0px 10px;
    margin-top: $margin-top-40;

    h1 {
      font-size: $title-medium;
    }

    p {
      color: grey;
      text-align: center;
    }

    h5 {
      font-size: $title-small;
      margin-top: $margin-top-40;
      margin-bottom: 20px;
    }

    .yellow__star {
      color: $color-alert;
    }

    img {
      width: 45px;
    }

    ol {
      bottom: -86px;
    }

    li {
      border-radius: 100%;
      height: 15px;
      width: 15px;
      background-color: $color-border;
    }

    .border__holder {
      margin: 30px 0;
    }
  }
  @include larg-phone-screen {
padding: 0px 20px;
    margin-top: $margin-top-40;

    h1 {
      font-size: $title-medium;
    }

    p {
      color: grey;
      text-align: center;
    }

    h5 {
      margin-top: $margin-top-40;
      margin-bottom: 20px;
    }

    .yellow__star {
      color: $color-alert;
    }

    img {
      width: 45px;
    }

    ol {
      bottom: -86px;
    }

    li {
      border-radius: 100%;
      height: 15px;
      width: 15px;
      background-color: $color-border;
    }

    .border__holder {
      margin: 30px 0;
    }
  }
  @include desktop-screen {
    margin-top: $margin-top-40;


    .carousel-inner {
      display: inline-block;
          }

    .border__holder {
      display: inline-block;
      text-align: right;
      margin: 0 72px;
      width: 40%;
    }

    .span__holder {
      border-top: 1px solid;
      padding-top: 10px;
      border-color: grey;
    }

    p {
      color: grey;
      width: 100%;
    }

    h1 {
      margin-bottom: 50px;
      margin-top: 10px;
      text-align:center;

    }

    .stars__holder {
      text-align: left;
      position: absolute;
      top: 90px;
    }

    .yellow__star {
      color: $color-alert;
    }

    img {
      width: 45px;
    }
    // .border__holder{
    //   display: inline-block;
    //   margin: 0 80px;
    // }
    ol {
      bottom: -86px;
    }

    li {
      border-radius: 100%;
      height: 20px;
      width: 20px;
      background-color: $color-border;
    }

    .simple__line {
      font-family: DIN Next LT Arabic;
      color: $color-text;
    }
  }
}
// review SECTION ENDS HERE
// TIMER SECTION STARTS
#timer__section {
  text-align: center;
  margin-top: $margin-top-130;
  @include extra-small-phone-screen {
    mark {
      color: $color-secondary;
      font-weight: bold;
    }

    h3 {
      font-size: $title-medium;
      margin-bottom: 25px;
    }

    .card {
      display: inline-block;
      padding: 13px;
    }
    // THIS HERE FOR TIMER STARTS
    .days {
      font-size: 20px;
      color: #db4844;
    }

    .hours {
      font-size: 20px;
      color: #f07c22;
    }

    .minutes {
      font-size: 20px;
      color: #f6da74;
    }

    .seconds {
      font-size: 20px;
      color: #abcd58;
    }

    .display__inline__block {
      display: inline-block;
      line-height: 1;
      padding: 20px;
      font-size: 40px;
    }

    .day {
      display: block;
      font-size: 20px;
      color: grey;
    }
    // THIS HERE TIMER ENDS
  }
  @include small-phone-screen {
    mark {
      color: $color-secondary;
      font-weight: bold;
    }

    h3 {
      font-size: $title-medium;
      margin-bottom: 25px;
    }

    .card {
      display: inline-block;
      padding: 13px;
    }
    // THIS HERE FOR TIMER STARTS
    .days {
      font-size: 20px;
      color: #db4844;
    }

    .hours {
      font-size: 20px;
      color: #f07c22;
    }

    .minutes {
      font-size: 20px;
      color: #f6da74;
    }

    .seconds {
      font-size: 20px;
      color: #abcd58;
    }

    .display__inline__block {
      display: inline-block;
      line-height: 1;
      padding: 20px;
      font-size: 40px;
    }

    .day {
      display: block;
      font-size: 20px;
      color: grey;
    }
    // THIS HERE TIMER ENDS
  }
  @include larg-phone-screen {
    mark {
      color: $color-secondary;
      font-weight: bold;
    }

    h3 {
      font-size: $title-medium;
      margin-bottom: 25px;
    }

    .card {
      display: inline-block;
      padding: 13px;
    }
    // THIS HERE FOR TIMER STARTS
    .days {
      font-size: 20px;
      color: #db4844;
    }

    .hours {
      font-size: 20px;
      color: #f07c22;
    }

    .minutes {
      font-size: 20px;
      color: #f6da74;
    }

    .seconds {
      font-size: 20px;
      color: #abcd58;
    }

    .display__inline__block {
      display: inline-block;
      line-height: 1;
      padding: 20px;
      font-size: 40px;
    }

    .day {
      display: block;
      font-size: 20px;
      color: grey;
    }
    // THIS HERE TIMER ENDS
  }
  @include desktop-screen {
    text-align: center;

    mark {
      color: $color-secondary;
      font-weight: bold;
    }

    h3 {
      font-size: $title-medium;
      margin-bottom: 25px;
      margin-top: 10px;
    }

    .card {
      display: inline-block;
      padding: 13px;
    }
    // THIS HERE FOR TIMER STARTS
    .days {
      font-size: 20px;
      color: #db4844;
    }

    .hours {
      font-size: 20px;
      color: #f07c22;
    }

    .minutes {
      font-size: 20px;
      color: #f6da74;
    }

    .seconds {
      font-size: 20px;
      color: #abcd58;
    }

    .display__inline__block {
      display: inline-block;
      line-height: 1;
      padding: 20px;
      font-size: 40px;
    }

    .day {
      display: block;
      font-size: 20px;
      color: grey;
    }
    // THIS HERE TIMER ENDS
  }
}
// FORM SECTION STARTS

#form__section {
  text-align: center;
  margin-top: $margin-top-40;
  @include extra-small-phone-screen {
    input {
  text-align: right;
  padding-right: 10px;
      margin-bottom: 20px;
      width: 85%;
    }

    button {
      width: 85%;
      background-color: $color-primary;
      padding: 5px;
      color: white;
    }
h6{
  text-align: right;
  margin-right: 24px;
}

  }
  @include small-phone-screen {
    input {
      text-align: right;
      padding-right: 10px;
      margin-bottom: 20px;
      width: 85%;
    }

    button {
      width: 85%;
      background-color: $color-primary;
      padding: 5px;
      color: white;
    }
    h6{
      text-align: right;
      margin-right: 26px;
    }

  }
  @include larg-phone-screen {
    input {
      width: 85%;
      text-align: right;
      padding-right: 10px;
      margin-bottom: 20px;
    }

    button {
      width: 85%;
      background-color: $color-primary;
      padding: 5px;
      color: white;
    }
    h6{
      text-align: right;
      margin-right: 31px;
    }

  }
  @include desktop-screen {
    text-align: right;

    input {
      width: 100%;
      text-align: right;
      margin-bottom: 20px;
      padding: 5px;
    }

    button {
      width: 100%;
      background-color: $color-primary;
      padding: 5px;
      color: white;
    }


  }
}
// FOMT SECTION ENDS HERE
// FOOTER SECTION STARTS

#footer {
  text-align: center;
  margin-top: $margin-top-80;
  padding-bottom: $padding-top-40;
  @include extra-small-phone-screen {
    h4 {
      font-size: $title-small;
      color: grey;
      margin-bottom: 10px;
    }

    img {
      width: 55px;
    }
    i{
      margin: 0px 10px;
    }
  }
  @include small-phone-screen {
    h4 {
      font-size: $title-small;
      color: grey;
      margin-bottom: 10px;
    }

    img {
      width: 55px;
    }
    i{
      margin: 0px 10px;
    }
  }
  @include larg-phone-screen {
    h4 {
      font-size: $title-small;
      color: grey;
      margin-bottom: 10px;
    }

    img {
      width: 55px;
    }
    i{
      margin: 0px 10px;
    }
  }
  @include desktop-screen {
    h4 {
      font-size: $title-small;
      color: grey;
    }

    img {
      width: 55px;
      padding-bottom: 20px;
    }
    i{
      margin: 0px 10px;
    }
  }
}
// FOOTER SECTION ENDS HERE
